<template>
<div class="app">
  <Header/>

  <About/>
</div>
</template>

<script>
import Header from '@/components/Header.vue'
import About from '@/components/About.vue'

export default {
    name: 'home',
    components: {
        Header, About
    }
}
</script>

<style>

</style>
