<template>
  <div id="mainpage">
      <div class="about">
      <div class="container grid-lg">
        <h1>FOR THE PEOPLE.</h1>
        <h3>BROUGHT TO YOU BY THREE MUMS </h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lobortis tellus in nibh ultrices, sed varius ante venenatis. Sed aliquam mollis luctus. Nunc facilisis feugiat auctor. Maecenas accumsan porttitor enim eget varius. Mauris eu magna tellus. Sed lacinia erat ut quam pharetra suscipit. Ut ut ante at elit sollicitudin placerat non non dui. Etiam lectus risus, blandit et odio facilisis, hendrerit sagittis nibh. Suspendisse id augue a nulla dictum euismod. Nam ante sem, rutrum in tempor eu, vulputate vel nulla. Maecenas hendrerit massa at enim lobortis auctor. Aliquam at lobortis dolor. Duis vehicula elit eget purus tempus, id dignissim risus placerat.
        </p>
        <order-form/>
      </div>
    </div>
  </div>
</template>

<script>
import OrderForm from '@/components/OrderForm.vue'

export default {
  name: "about",
  components: {
    OrderForm
  }
};
</script>

<style lang="scss" scoped>
.about {
  min-height: 100vh;
  background-color: #ff0000;
}

h1, h2, h3, h4 {
  color: yellow;
}

p {
    color: white
}
</style>
