<template>
    <div class="header" @mousemove="shadow" ref='header'>
      <div class="text-vertical-center">
        <h1 class="title big-text" v-bind:style="shadowStyle">fukk-head</h1>
      </div>
        
      </div>
</template>

<script>

export default {
  name: "header",

  data: function() {
    return {
      walk: 15,
      shadowX: 2,
      shadowY: 2
    };
  },
  computed: {
    shadowStyle: function() {
      return {
        textShadow: `${this.shadowX}px ${this.shadowY}px #ff0000`
      };
    }
  },
  methods: {
    shadow: function(event) {
      const height = this.$refs["header"].offsetHeight;
      const width = this.$refs["header"].offsetWidth;

      let { offsetX: x, offsetY: y } = event;

      this.shadowX = Math.round(x / width * this.walk - this.walk / 2);
      this.shadowY = Math.round(y / height * this.walk - this.walk / 2);
    }
  },

};
</script>

<style lang="scss">
.title {
  color: yellow;
  text-shadow: 2px 2px #ff0000;
  font-size: 8vw;
}

.header {
  height: 100vh;
  width: 100wh;

  background-image: url("./../assets/big_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.text-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

</style>
