<template>
  <div id="order-form">
      <div class="container">
          <div class="columns">
          <div class="column col-6 col-md-12">
            </div>
              <div class="column col-6 col-md-12 order-details">
                  <form>
                    <stripe/>
                  </form>
          </div>
      </div>
  </div>
  </div>
</template>

<script>
import Stripe from '@/components/Stripe.vue'
export default {
  name: "OrderForm",

  components: {
      Stripe
  }
};
</script>

<style>
.order-details {
    background-color: white;
    padding: 1rem;
    border: 4px solid yellow;

}
</style>
