<template>
<div id="stripe">
    <div class="form-group">
        <input class="form-input" type="text" id="name" placeholder="Name">
    </div>
    <div class="form-group">
        <input class="form-input" type="text" id="AddressLine1" placeholder="Address Line 1">
    </div>
    <div class="form-group">
        <input class="form-input" type="text" id="AddressLine2" placeholder="Address Line 2">
    </div>
    <div class="form-group">
        <div class="columns">
            <div class="column col-6 col-sm-12">
                <input class="form-input" type="text" id="City" placeholder="City">
            </div>
            <div class="column col-6 col-sm-12">
                <input class="form-input" type="text" id="PostCode" placeholder="Post Code">
            </div>
        </div>
    </div>
    <div class="form-group">
  <div id="card-number" ref='card-number'>
    </div>
    </div>
    <div class="form-group">
        <div class="columns">
            <div class="column col-6 col-sm-12">
                <div id='card-expiry' ref='card-expiry'></div>
            </div>
            <div class="column col-6 col-sm-12">
                <div id='card-cvc' ref='card-cvc'></div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
  name: "stripe",
  mounted: function() {
    var stripe = Stripe("pk_test_BoDcglLp8E3vdYWqNp36sx0F")
    var elements = stripe.elements()

    var cardElement = this.$refs['card-number']
    var elementStyles = {
      base: {
        color: "#32325D",
        fontWeight: 500,
        fontSize: "16px",
        fontSmoothing: "antialiased",

        "::placeholder": {
          color: "#CFD7DF"
        },
        ":-webkit-autofill": {
          color: "#e39f48"
        }
      },
      invalid: {
        color: "#E25950",

        "::placeholder": {
          color: "#FFCCA5"
        }
      }
    };

    var elementClasses = {
      focus: "focused",
      // empty: "empty",
      invalid: "invalid"
    };

    var cardNumber = elements.create("cardNumber", {
      placeholder: 'Card Number',
      style: elementStyles,
      classes: elementClasses
    });
    cardNumber.mount(cardElement);

    var cardExpiry = elements.create("cardExpiry", {
      style: elementStyles,
      classes: elementClasses
    });
    cardExpiry.mount(this.$refs['card-expiry']);

    var cardCvc = elements.create("cardCvc", {
      style: elementStyles,
      classes: elementClasses
    });
    cardCvc.mount(this.$refs['card-cvc']);
  }
};
</script>

<style lang='scss'>
@import "~spectre.css/src/spectre.scss";

.StripeElement {
  @extend .form-input;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
</style>
