<template>
  <div id="app">
    <div id="nav">
      <!--router-link to="/"></router-link> |
      <router-link to="/about">About</router-link-->
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">

</style>
